# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.vspscc
*.slnmetaproj
*.vspre
*.vspscc
*.tmp
*.log

# Rider / .idea
.idea/
*.iml
*.iws
*.ipr
*.lock
out/

# Tests
TestResults/
*.trx
*.testresults

# OS
.DS_Store
Thumbs.db
